.index-postsList {
	list-style-position: inside;
	margin: 60px auto;
	text-align: center;
	padding: 0;
}

.index-postsList li a {
	color: white;
	font-size: 26px;
	letter-spacing: -.06rem;
	text-decoration: none;
	transition: all .25s ease;
}

.index-postsList li a:hover {
	color: rgba(255,255,255,.3);
}

.index-postsList li a small {
	font-size: 12px;
	color: rgba(255,255,255,.44);
	font-size: 12px;
	display: inline-block;
	transition: all .25s ease;
}

.index-postsList li a:hover small {
	transform: translateX(-18px) scale(1.02);
	font-size: 14px;
	color: rgba(255,255,255,1);
}