---
# liverblog
---

{% include header.html %}

  {% include hero.html %}

  <!-- <div class="site-intro text-center">
    <small>{{site.bio}}</small>
  </div> -->

  <div class="container">
      <ol class="index-postsList">
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url }}">{{ post.title }} <small>&bull; {{post.excerpt}}</small> </a>
          </li>
        {% endfor %}
      </ol>
  </div>

  {% include colophon.html %}
  <!-- <div class="clearfix">
    <div class="col-md-4"> -->
      {% include playthis.html %}
    <!-- </div>
  </div> -->

  {% include footer.html %}

  </body>
</html>