---
# liverblog - singlePage
comments: true
---

{% include header.html %}
	
	<div class="hero-page">
		{% include hero.html %}
	</div>

	<div class="container">
		<div class="page-pageContent">
			<div class="page-pageContent__title">
				<h1>{{ page.title }}</h1>
				<small>{{ page.excerpt }}</small>
			</div>

			<div class="page-pageContent__body">
				<div class="page-content">
					{{ content }}
				</div>
				<div class="page-comments">
						
						<div id="disqus_thread"></div>
						<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				</div>
			</div>
		</div>
	</div>

	{% include footer.html %}